section {
    position: relative;
}

hr {
    background-color: white;
}

.about,
.portfolio,
.blog,
.team,
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

#about p {
    font-size: large;
}

header {
    height: 710px;
    display: flex;
    align-items: center;
}
.img-profile {
    display: flex;
    justify-content: center;
}

.about img {
    width: 150px;
    margin: 10px auto;
}

.img-portfolio {
    width: 300px;
    margin: 20px auto;
}

.card,
.team {
    margin: auto;
}

.img-team {
    width: 200px;
    height: 200px;
    margin: 10px;
}
